.cart_page {
    width: 100%;
    background-color: $superColor;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    border-radius: 20px;

    h3 {
        margin: 10px 30px;
        color: #1435c3;
        font-weight: 600;
        font-size: 30px;
    }

    .cart_page_container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .table_container {
            width: 65%;
            padding: 10px;
            background: $primaryColor;
            border-radius: 10px;
            margin: 10px;
        }

        .checkout_container {
            display: flex;
            flex: 1;
            flex-direction: column;

            .voucher {
                background-color: $primaryColor;
                padding: 10px;
                margin: 10px;
                border-radius: 10px;

                p {
                    color: #1435c3;
                    font-weight: 600;
                    font-size: 20px;
                }
            }

            .checkout {
                background-color: $primaryColor;
                padding: 10px;
                margin: 10px;
                border-radius: 10px;

                h6 {
                    color: #1435c3;
                    font-weight: 600;
                    font-size: 20px;
                }

                .current_total {
                    display: flex;
                    justify-content: space-between;

                    span {
                        color: rgb(20, 53, 195);
                        font-weight: 700;
                    }
                }

                form {
                    .pay_method {
                        p {
                            color: black;
                            font-weight: 400;
                            font-size: 1em;
                        }

                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                    }
                }
            }
        }
    }
}
tbody {
    .none {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
        transform: translate(50%, 10px);
        span {
            color: rgb(132, 135, 136);
            font-size: 16px;
        }
        img {
        }
        .shop-now {
        }
    }
}

.ant-modal-content {
    // width: 600px;
    // height: 500px;

    .ant-modal-confirm-content {
        display: flex;
        // height: 360px;
        // justify-content: center;
        align-items: center;

        .ant-qrcode {
            width: 320px !important;
            height: 320px !important;
        }
    }
}

.shop-now {
    margin-top: 40px;
    background: linear-gradient(30deg, #ea8b19  35%, #1435c3 73%);
    position: relative;
    padding: 15px 100px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: 3px solid #1435c3;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    .box {
        color: #ddd;
        height: unset;
        width: 120px;
        height: 45px;
        float: left;
        transition: 0.5s linear;
        position: relative;
        display: block;
        padding: 8px 0;
        margin: -10px -15.5px;
        background: transparent;
        text-transform: uppercase;
        font-weight: 900;
    }
}

.star-1 {
    position: absolute;
    fill: #fbc02d;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fbc02d);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    fill: #fbc02d;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fbc02d);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    fill: #fbc02d;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fbc02d);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    fill: #fbc02d;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fbc02d);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    fill: #fbc02d;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fbc02d);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    fill: #fbc02d;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fbc02d);
    z-index: -5;
    transition: all 0.8s ease;
}

.shop-now:hover {
    background: #111;
    color: #1435c3;
    box-shadow: 0 0 50px #1435c3;
}

.shop-now:hover .star-1 {
    position: absolute;
    top: -110%;
    left: -60%;
    width: 30px;
    height: auto;
    filter: drop-shadow(0 0 10px #1435c3);
    z-index: 2;
}

.shop-now:hover .star-2 {
    position: absolute;
    top: -45%;
    left: 0%;
    width: 20px;
    height: auto;
    filter: drop-shadow(0 0 10px #1435c3);
    z-index: 2;
}

.shop-now:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 15%;
    width: 11px;
    height: auto;
    filter: drop-shadow(0 0 10px #1435c3);
    z-index: 2;
}

.shop-now:hover .star-4 {
    position: absolute;
    top: 45%;
    left: 85%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #1435c3);
    z-index: 2;
}

.shop-now:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 140%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #1435c3);
    z-index: 2;
}

.shop-now:hover .star-6 {
    position: absolute;
    top: -5%;
    left: 60%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #1435c3);
    z-index: 2;
}

.fil0 {
    fill: #1435c3;
}

.box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: white;
    background: black;
}

.box:hover:before {
    border-color: #fff;
    height: 100%;
    transform: translateX(0);
    transition:
        0.3s transform linear,
        0.3s height linear 0.3s;
}

.box:hover:after {
    border-color: #1435c3;
    height: 100%;
    transform: translateX(0);
    transition:
        0.3s transform linear,
        0.3s height linear 0.5s;
}

.box:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
.address{
    display: flex;
}