.container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    background-image: url("https://lh3.googleusercontent.com/-E7ovjPHLnyWSk6S5Ew7aGiXOL2-8axqjI4H-SzYoCKQAYrP3YXh86tJ4wo61D4jD46LrV1M4HVzWChjExldrOkEDsOKkymA=w1232");
    background-clip: border-box;
    background-size: cover;
    background-repeat: no-repeat;

    .product {
        width: $maxW;
        height: 100%;
        display: flex;

        .product_info {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .top {
                display: flex;
                max-width: 100%;
                justify-content: space-between;
                margin: 0 15px;
                align-items: center;

                h2 {
                    margin-top: 10px;
                    color: #fff;
                    font-weight: 600;
                }
                h5 {
                    margin-top: 10px;
                    color: #fff;
                    font-weight: 600;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .bottom {
                max-width: 100%;
                .bhHnmT {
                    margin: 0;
                }
                .dUFnkB {
                    max-width: $maxW;
                    width: 100%;
                }
                .jdjruJ {
                    max-width: $maxW - 140px;
                    width: 100%;
                }
                .container_item {
                    width: 100%;
                    height: 100%;
                    min-height: 280px;
                    box-sizing: border-box;
                    background-color: #fff;
                    width: 100%;
                    padding-bottom: 20px;

                    &:hover {
                        .img_container {
                            transform: scale(1.1);
                            transition: transform 0.3s ease;
                        }
                    }
                    
                    .img_container {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                        img {
                            width: 60%;
                            height: 160px;
                            cursor: pointer;
                        }
                    }

                    .content_container {
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        justify-content: center;
                        margin-left: 10px;
                        cursor: pointer;

                        p {
                            margin-top: 15px;
                            margin-bottom: 5px;
                            font-weight: 400;
                        }
                        h5 {
                            color: rgb(20, 53, 195);
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                        h6 {
                            height: 39px;
                            max-width: 235px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.advertising {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    .advertising_content {
        width: $maxW;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 7%;

        .left {
            img {
                border-radius: 20px;
                cursor: pointer;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                    transition: transform 0.3s ease;
                }
            }
        }

        .right {
            img {
                border-radius: 20px;
                cursor: pointer;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                    transition: transform 0.3s ease;
                }
            }
        }
    }
}

.dZkckO {
    right: -12px !important;
}

.bBfHpH {
    left: -10px !important;
}

.my-button {
    background-color: #1435c3;
    border: none;
    width: 60%;
    height: 35px;
    margin-bottom: 8px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
}

.my-button:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.my-button:hover:after {
    animation: ripple_401 1s ease-out;
}

@keyframes ripple_401 {
    0% {
        width: 5px;
        height: 5px;
        opacity: 1;
    }

    100% {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}
