.receipt_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $superColor;

    .title {
        margin: 20px 0;
    }

    .table {
        width: 80%;
    }


    
}
.item_container_title{
    display: flex !important;
    gap: 30px;
    align-items: center;
    // justify-content: center;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    :nth-child(2) {
        max-width: 30%;  
    }
    :nth-child(3) {
        margin-left: 90px;
    }
    :nth-child(4) {
        margin-left: 5px;
    }
}
.item_container {
    display: flex !important;
    gap: 30px;
    align-items: center;
    // justify-content: center;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    p{
        margin: 0;
    }
    :nth-child(2) {
        max-width: 40%;
        margin-left: 15px;
    }

}